########################## .ENV DEV ############################
# Port number
PORT=3001

 
# DATABASE CONFIG
DB_USERNAME=merfxbgf
DB_PASSWORD=yH7hDW5d2cKOYVW_IiA045Om9HA0hTbL
DB_NAME=merfxbgf
DB_HOST=batyr.db.elephantsql.com
DB_PORT=5432
DB_DIALECT=postgres
DB_POOL_MIN=0
DB_POOL_MAX=5
DB_POOL_IDLE=10000
DB_POOL_IDLE=10000
DB_POOL_ACQUIRE=30000

# JWT
# JWT secret key
JWT_SECRET=project-856-secret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
